html {
	background-color: hotpink;
}

body {
	background: whitesmoke;
	width: 85%;
	margin: 10px auto;
	padding: 08px;

}

table {
	border-collapse: collapse;
	border: 2px black solid;
	font: 12px sans-serif;
}

td {
	border: 1px black solid;
	padding: 5px;
}